<<<<<<< HEAD
.login-page {
=======
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Customfont"; 
}

.page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover{
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0.0188em 1.550em rgb(156,156,156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.alt-login {
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
}
.alt-login div{
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
/* .google background-image: url("../icons/google.png");} */
 
input{
    border:none;
    background-color: rgb(229, 226, 226);
}
input:focus{
    outline-color:rgb(32,177,255);
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding:2em;
}
.login-btn{
   width: 40%;
   height:3em;
   background-color: rgb(32,177,255);
    display:flex;
    justify-content: center;
    align-content: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}
.login-btn:hover{transform: scale(1.25);}
.text{
    position: relative;
    bottom: -2em;
}
.hide{
    position: absolute;
    transform: scsle(0);
}

.login-popup{
    position: absolute;
    height: 30em;
    width: 30em;
>>>>>>> 42b0e7a8c9545a4443a31e6e46b388c06177f03b
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.login-form div {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.login-form label {
    margin-right: 0.5rem;
}

.login-form input {
    padding: 0.25rem;
}

.login-form button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.register-options {
    display: flex;
}

.register-button {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
=======
    border-radius: 0.25;
    background-color: black;
    color: white;
    bottom: 0;
    transform: scale(1);
    transform: 1.5s;

>>>>>>> 42b0e7a8c9545a4443a31e6e46b388c06177f03b
}